@import './reset.css';

body {
    background: #3e3d3c;
}

.window{
    width: 70vw;
    height: 70vh;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -35vw;
}
.window__tab{
    background: #6a6a6a;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 2px 3px 5px rgba(33, 30, 30, 0.8);
    overflow: hidden;
    z-index: 99;
    position: absolute;
    left:10%;
}
.window__header{
    height: 25px;
    background: #8e8e8e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.window-header:hover{
    cursor: pointer;
}
.window__addres{
    height: 70%;
    min-width: 50%;
    margin-left: 10px;
    border-radius: 5px;
    display: inline-block;
    background: #acabab;
    color: #d6d5d5;
    padding: 0 4px;
    
}
.window__btn{
    background: #ef6464;
    border: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 10px;
    transition: background ease .4s;
}
.window__btn:hover{
    background: #c74a4a; 
}
.window__btn:active{
    background: #f49797;
}
.window__content{
    padding: 20px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
}
.tree-wrapper {
    color: #f8efef;
    font-family: monospace;
    font-size: 18px;
    font-weight: bold;
}

.tree-wrapper__item ul {
    display: none;
    transition: display ease 1s;
}

.tree-wrapper__item {
    margin-top: 15px;
    z-index: 1;

}

.tree-wrapper__link {
    margin-left: 50px;
    position: relative;
    cursor: pointer;
    transition: color ease .3s;
}
.tree-wrapper__link:hover{
    color: #90e690
}

.tree-wrapper__link-file{
    margin-left: 70px;
}
.tree-wrapper__link-folder::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background: url(../img/folder.png);
    background-size: cover;
    top: 50%;
    margin-top: -15px;
    left: -40px;

}

.tree-wrapper__link-file::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background: url(../img/file.png);
    background-size: cover;
    top: 50%;
    margin-top: -15px;
    left: -40px;
}

.tree-wrapper__btn {
    border: none;
    cursor: pointer;
    background: #fff;
    font-size: 14px;
    font-weight: bold;
    transition: transform ease .6s;
    background: none;
    color: #fae781;
    padding: 0;
    height: 20px;
    width: 20px;
}
.tree-wrapper__btn:hover{
    background: #6a6a6a
}

.tree-wrapper__btn:focus{
    background: #6a6a6a
}
